//Your custom styles here
@font-face {
    font-family: 'pixeltyperegular';
    src: url('pixeltype-webfont.woff2') format('woff2'),
         url('pixeltype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import '_colors';
@import '_base';
