.modal {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: $mid-dark-purple;
}

.modal.closed {
    display: none;
}

#button-wrapper {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 81px;
    background-color: $dark-purple;
}

@import 'colors';